body {
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 5px; 
    width: 180px;
    height: auto; 
    display: block; 
    margin-left:  40px;
}

.name {
    text-align: center;
    margin-left:  80px; 
}

.main-content {
    display: flex;
    padding: 20px 0;
    margin: 0 20px; 
}

.left-column, .right-column {
    flex: 1;
    line-height: 1.5;
}

.left-column {
    border-right: 2px solid #c0c0c0;; 
    padding-right: 20px;
    line-height: 1.5;
}

.right-column {
    padding-left: 20px;
}

.left-column h2,
.right-column h2 {
    margin-left: 20px; 
}

.left-column p,
.right-column p {
    margin-left: 20px; 
}

h2 {
    position: relative;
    font-size: 1.2em;
    margin-bottom: 10px;
}

h2 img {
    margin-right: 10px; /* Добавляет небольшой отступ между значком и текстом */
    width: 20px; /* Задает размер значка */
    height: 20px;
}

h2::before {
    content: ""; 
    position: absolute;
    left: -30px;
}

p {
    margin-bottom: 20px;
}
